<!DOCTYPE html>
<html>

<head>
    <title>Error <%= status %> - <%= message %>
    </title>
</head>

<body>
    <h1>Error : <%= status %>
    </h1>
    <p>
        <%= message %>
    </p>
    <pre><%= error.stack %></pre>
</body>

</html>